[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[safe]
	directory = *
[color]
	ui = true
[user]
	email = cxl@qijiayoudao.com
	name = Chang xinglong
